.city {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 8em;
    text-align: center;
}

.temp {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 8em;
    text-align: center;
}